#productList {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:30px 50px 50px
}
.card {
    margin:20px 10px;
}
.card a {
    text-decoration: none;
    color:black
}
.card img {
    height:250px
}
.card-body p {
    margin-bottom:0px;
    padding-bottom:0px
}
.buttons {
    padding:0 0 10px
}
.buttons button {
    margin:10px 20px;
    font-size:0.8;
    padding:3px 10px
}
/*--------MODALES--------*/

.modal-agregar {
    background-color: #FAFAFA;
    text-align: center;
}
.modal-agregar select {
    width:100%;
    padding:5px
}
.btn-aceptar {
    background:#FF8328;
    color:white;   
}
.modal-editar {
    background-color: rgb(255, 242, 99);    
}
.form-group {
    width:80%;
    margin:0 auto 10px;
}
.modal-borrar {
    background-color:rgb(255, 90, 90)
}
.titulo-modal-borrar {
    margin:15px
}
#deleteName {
    font-size:1.3rem;
    font-weight:bolder
}
.botones {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap
}