<app-nav></app-nav>
<!-----------ALERT addProductToCart------------------------------->
<div *ngIf="alert" role="alert" class="alert alert-dismissible fade show fixed-top" [class]="{'alert-warning':(cantProducts==4),'alert-info':(cantProducts<10),'alert-danger':(cantProducts>9)}">
  <strong>En hora buena</strong> Has agregado {{cantProducts}} producto<span *ngIf="cantProducts>1">s</span> a tu carrito.
  <p *ngIf="cantProducts==4">¡Felicidades, puedes aprovechar la oferta mágica x 4!</p>
  <a id="toCart" routerLink="/cart">Ver carrito  <i class="bi bi-cart"></i></a>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>    
</div>
<section id="product-detail">
    <div class="title text-center mt-5">
        <h3>Tienda Virtual</h3>              
    </div>
    <div class="back">
      <a routerLink="/products"><i class="bi bi-arrow-left"></i>  Volver</a>  
    </div>
    <div id="detail">
      <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img id="img-detail" [src]="product.img_Product" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center">{{product.name}}</h5>
              <p class="card-text text-center">{{product.description}}</p>
              <p class="card-text text-center"><b>$ {{product.price}}</b></p>
              <p class="card-text text-center"><small class="text-muted">Aqui podría figurar alguna otra descripción  del producto. Como por ejemplo: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae expedita, iste corrupti nisi esse praesentium ducimus sint eligendi! Perspiciatis modi ab nisi ratione saepe adipisci, temporibus id deserunt eius maiores."</small></p>
              <div class="buttons">
                <button (click)="addProductToCart(product)" class="btn btn-outline-primary"><i class="bi bi-cart"></i> Agregar al carrito</button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmPurchase">Comprar ahora</button>
              </div>
            </div>
            
          </div>
        </div>
    </div>

    </div>
    
</section>
<app-footer></app-footer>

<!--------------MODAL CONFIRMAR COMPRA---------------------->

<div class="modal fade" id="confirmPurchase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-agregar">
      <div class="modal-header text-center">
          <div class="title-modal text-center">
              <h4>Feria Virtual</h4>
              <h5 class="">¿Desea comprar solo este producto?</h5>
          </div>
      </div>
      <div class="modal-body text-center">
          <div>
              <h5 class="">Seleccionado:</h5>
          </div>
          <div id="articles text-center">
              <div>
                  <p>{{product.name}}</p>
              </div>
              <hr>              
              <h6>Total</h6>
              <p><b>$ {{product.price}}</b></p>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-success" data-bs-dismiss="modal" (click)="confirmPurchaseProduct()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
