#product-detail {
    min-height: 80vh;
    height:max-content;
}
.back {
    text-align:end;
    margin-right:150px;
    position:relative;
    top:-30px;
}
.back a {    
    text-decoration: none;
}
#detail {    
    padding:3% 10% 10%
}
#img-detail {
    width:auto;
    height: 400px;
}
.buttons {
    display:flex;
    justify-content:space-around
}
.card-body {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:100%
}
.card-body h5 {
    font-size:2rem
}
.card-body p {
    font-size:1.2rem
}