#products {
    min-height:100vh;
    height:max-content
}
#productList {
    display:flex;
    justify-content: center;
    flex-wrap:wrap
}
.header {
    margin-top:110px;
    display:flex;
    justify-content:space-between;
    padding:0 150px
}
.back {
    position:relative;
    top:50px;
}
.back a {    
    text-decoration: none;
}
@media only screen and (max-width: 670px) {
    .header {
        padding:0 40px
    }
}