<div class="header">
    <div class="title text-center mt-5">
      <h3>Producto selccionado</h3>              
    </div>
    <div class="back">
      <a routerLink="/admin/products"><i class="bi bi-arrow-left"></i>  Volver</a>  
    </div>
</div>
<div id="detail">
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img id="img-detail" [src]="product.img_Product" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-center">{{product.name}}</h5>
          <p class="card-text text-center">{{product.description}}</p>
          <p class="card-text text-center"><b>$ {{product.price}}</b></p>
          <p class="card-text text-center"><small class="text-muted">Aqui podría figurar alguna otra descripción  del producto. Como por ejemplo: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae expedita, iste corrupti nisi esse praesentium ducimus sint eligendi! Perspiciatis modi ab nisi ratione saepe adipisci, temporibus id deserunt eius maiores."</small></p>
          <div class="buttons">
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteProduct" (click)="trashId(product.idProduct,product)">Eliminar</button>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editProduct" (click)="editableId(product.idProduct,product)">Editar</button>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

<!----------------MODALES-------------------------------->

<!--MODAL EDITAR GASTO--->
<div class="modal fade" id="editProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-agregar">        
      <div class="modal-header text-center">
        <h5 class="modal-title" id="staticBackdropLabel">EDITAR PRODUCTO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearValidatorsEdit()"></button>
      </div>
      <!------Formulario------->
      <form  [formGroup]="editProductForm" class="add-form" novalidate autocomplete="off" required id="editProduct" (ngSubmit)="updateProduct()" autocomplete="off">
          <div class="modal-body">
              <div class="form-group">
                  <label for="name" class="form-label">Nombre del producto</label>
                  <input type="text" id="fecha"  formControlName="name" class="form-control" [ngClass]="{'is-valid':!NameEdit?.errors&& NameEdit?.touched}">
                  <div *ngIf="NameEdit?.errors && NameEdit?.touched">
                      <p *ngIf="NameEdit?.hasError('required')" class="text-danger">
                        Ingrese un nombre de producto
                      </p>  
                  </div>
              </div>
              <div class="form-group">
                  <label for="category" class="form-label">Categoría</label><br>
                  <select type="text" id="category"  formControlName="category" class="form-control" [ngClass]="{'is-valid':!CategoryEdit?.errors&& CategoryEdit?.touched}"> 
                      <option value="Tecnología">Tecnología</option>
                      <option value="Arte">Arte</option>
                      <option value="Libros">Libros</option>               
                  </select>
                  <div *ngIf="CategoryEdit?.errors && CategoryEdit?.touched">
                      <p *ngIf="CategoryEdit?.hasError('required')" class="text-danger">
                        Ingrese una categoría
                      </p>  
                  </div>
              </div>                
              <div class="form-group">
                  <label for="description" class="form-label">Descripción</label>
                  <input type="text" id="description"  formControlName="description" class="form-control" [ngClass]="{'is-valid':!DescriptionEdit?.errors&& DescriptionEdit?.touched}">
                  <div *ngIf="DescriptionEdit?.errors && DescriptionEdit?.touched">
                      <p *ngIf="DescriptionEdit?.hasError('required')" class="text-danger">
                          Ingrese una descripción
                      </p>
                      <p *ngIf="DescriptionEdit?.hasError('maxlength')" class="text-danger">
                          Menos de 100 caracteres
                      </p>
                  </div>
              </div>
              <div class="form-group">
                  <label for="price" class="form-label">Precio</label>
                  <input type="number" id="price"  formControlName="price" class="form-control" [ngClass]="{'is-valid':!PriceEdit?.errors&& PriceEdit?.touched}">
                  <div *ngIf="PriceEdit?.errors && PriceEdit?.touched">
                      <p *ngIf="PriceEdit?.hasError('required')" class="text-danger">
                        Ingrese un importe
                      </p>
                      <p *ngIf="PriceEdit?.hasError('min')" class="text-danger">
                          El importe debe ser mayor a cero
                      </p>  
                  </div>
              </div>
              <div class="form-group">
                  <label for="img_Product" class="form-label">Imagen de producto (url)</label>
                  <input type="text" id="img_Product"  formControlName="img_Product" class="form-control" [ngClass]="{'is-valid':!Img_ProductEdit?.errors&& Img_ProductEdit?.touched}">
                  <div *ngIf="Img_ProductEdit?.errors && Img_ProductEdit?.touched">
                      <p *ngIf="Img_ProductEdit?.hasError('required')" class="text-danger">
                          Ingrese una descripción
                      </p>
                      <p *ngIf="Img_ProductEdit?.hasError('maxlength')" class="text-danger">
                          Menos de 100 caracteres
                      </p>
                  </div>
              </div>
          </div>
          <div class="modal-footer botones">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearValidatorsEdit()">Cancelar</button> 
              <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal"  [disabled]="!editProductForm.valid">Aceptar</button>                               
          </div>
      </form>
    </div>
  </div>
</div>

<!--MODAL ELIMINAR PRODUCTO--->
<div class="modal fade" id="deleteProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-agregar">
      <form >
          <div class="modal-body">
              <div>
                  <h5 class="titulo-modal-borrar">¿Desea eliminar este producto?</h5>
                  <p id="deleteName">{{trashProduct}}</p>
              </div>
          </div>
          <div class="modal-footer botones">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal" (click)="deleteProduct()" >Eliminar</button>
          </div>
      </form>
    </div>
  </div>
</div>
