#fechas {
    min-height:80vh;
    height:max-content
}
.title p {
    font-size:1.3rem
}
.group {
    margin-top:60px;
    padding:0 20px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap
}
.fecha {    
    box-shadow: 0px 1px 2px 2px rgba(121, 116, 116, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding:70px 50px;
    width:200px;
    height:200px;
    margin: 10px
}
.fecha:hover {
    background: white;
}
.otoño {
    background: rgba(237, 200, 98, 0.55);
}
.invierno {
    background: rgba(105, 208, 214, 0.55);
}
.primavera {
    background: rgba(87, 204, 78, 0.55);
}
.verano {
    background: rgba(234, 240, 41, 0.55);
}
.generate {
    margin-top:60px
}
.generate p {
    font-size:1rem
}
#btn-generate {
    font-size:1.5rem;
    margin-bottom:50px
}