<app-nav></app-nav>
<section id="fechas" class="text-center">
    <div class="title text-center mt-5">
        <h3>Fechas Especiales</h3>
        <p>Descuentos asombrosos</p>        
    </div>
    <div class="group">
        <div class="otoño fecha">
            <h4>Otoño</h4>
            <p>21/3/2023</p>
        </div>
        <div class="invierno fecha">
            <h4>Invierno</h4>
            <p>21/6/2023</p>
        </div>
        <div class="primavera fecha">
            <h4>Primavera</h4>
            <p>21/9/2023</p>
        </div>
        <div class="verano fecha">
            <h4>Verano</h4>
            <p>21/12/2023</p>
        </div>
    </div>
    <div class="generate">
        <p><b>Puedes generar una fecha especial AHORA MISMO, convirtiendo este dia, en uno de super promoción.</b></p>
        <button id="btn-generate" class="btn btn-warning" (click)="generateFecha()">Fecha Especial</button>
    </div>
</section>
<app-footer></app-footer>
