#productList {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:50px
}
.card {
    margin:20px 10px;
}
.card a {
    text-decoration: none;
    color:black
}
.card img {
    height:250px
}
.card-body p {
    margin-bottom:0px;
    padding-bottom:0px
}
.buttons {
    padding:0 0 10px
}