<div id="productList">
    <div class="card" style="width: 18rem;" *ngFor="let product of productList">
        <a href="#">
        <img [src]="product.img_Product" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">$ {{product.price}}</p>
        </div>
        </a>
        <div>
        <button class="btn btn-primary">Agregar al carrito</button>
                   
        </div>
        
    </div>
</div>
