<div class="seccion text-center">
    <div id="title">
        <h1>Tienda Virtual</h1>
    </div>
    <div class="options">
        <a routerLink="/admin/products">
            <div class="opcion productos">
                <p>Productos</p>
            </div>
        </a>
        <a routerLink="/admin/buys">
            <div class="opcion compras">
                <p>Compras</p>
            </div>
        </a>       
        <a routerLink="/admin/clients">
            <div class="opcion clientes">
                <p>Clientes</p>
            </div>
        </a>                
    </div>
</div>

