#landing {
    height: max-content;
}

/*------Aviso Fechas---------*/
.prox {
    position:absolute;
    width:100%;
    margin:0 auto;
    top:200px;
    text-align:center;
    z-index:1;
    display:flex;
    justify-content: center;
}
.box {
    border:1px solid yellow;
    width:max-content;
    border-radius:10px;
    background-color:rgba(205, 205, 139, 0.625);
    padding:20px
}

/*------Carrousel-----------*/
.item-car-home img {
    width:100%;
    height:500px
}

/*-------Medios de pago--------*/
#pagos {
    padding:50px;
}
.container-pagos {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap
}
.medio {
    border:1px solid rgb(204, 197, 197);
    box-shadow: 1px 1px 1px 1px;
    border-radius:5px;
    padding:5px;
    width:200px;
    height:100px;
    text-align:center;
    margin:10px
}
.tipo-pago {
    margin:0;
}
.aditional-info {
    font-size:0.8rem;
    padding-bottom:3px
}
.fire {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap
}
hr {
    margin:0
}
.subtitle {
    margin-top:0;
    margin-bottom:25px
}

/*-------Ofertas---------*/
#ofertas {
    padding:50px;    
    background: rgb(255, 255, 124);
}
.ofertas {
    display:flex;
    justify-content: center;
    flex-wrap:wrap
}
.oferta {
    margin:10px
}
.oferta img {
    width:100%;
    height:220px
}

/*----------Informacion----------*/
#information {
    padding:50px 20px;     
    background: rgb(255, 255, 124);
}
.informations {
    display:flex;
    justify-content:center;
    flex-wrap:wrap
}
.informations .card {
    min-height:max-content;
    height:100%;
    border:1px solid gray;
    padding:5px;
    margin:15px 0
}
.inf {
    margin:20px 0
}
.btn-fechas a {
    margin-top:25px
}
.letra-chica {
    font-size:0.8rem
}
.vip {
    margin-top:30px
}
.vip a{
    margin-left:20px    
}
.magica a {
    margin-top:15px
}

