<!---Footer--->
<footer class="empresarial">
    <div class="enum">
      <p><b>Tienda Virtual</b>: para contactarnos puedes escribirnos a tiendavirtual@email.com.</p>
    </div>
    <div class="redes text-center">
      <span>Redes:</span>
      <a href="https://www.instagram.com" target="blanck"><i class="bi bi-instagram"></i></a>
      <a href="https://www.facebook.com" target="blanck"><i class="bi bi-facebook"></i></a>
      <a href="https://www.tiktok.com" target="blanck"><i class="bi bi-tiktok"></i></a>
    </div>
</footer>
<footer class="footer">
    <div class="text-center p-4">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://santiagocastellani-dev.vercel.app/portfolio" target="black">SC.dev</a>
        <span id="invita">Si quieres colaborar con el desarrollador de esta página, puedes hacerlo <i class="bi bi-arrow-right"></i></span>        
        <a href="https://cafecito.app/sc-dev" target="blanck">  Aquí <i id="corazon" class="bi bi-heart-fill"></i></a>
    </div>        
</footer>
